.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.details-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ndc-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #b3b3b3;
}

#table tr:hover {
  background-color: rgb(233, 224, 224);
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3498db;
  color: white;
}

.title{
    text-align: center;
}
