.result-list{
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #d7d4d4;
    border-radius: 1rem;
    margin-top: 2rem;
    max-height: 40vh;
    overflow-y: scroll;
}

.list-item{
    padding: 1rem;
}
.list-item:hover {
    background: #ddd;
}